/* css da home */
body{
    margin: 0%;
}
ul{
    display: flex;
    text-decoration: none;
    list-style: none;
    margin: 0%;
}

li{
    text-decoration: none;
    list-style: none;
    color: rgba(50, 50, 170, 0.829);
    margin: 0%;
}
a{
    text-decoration: none;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.TopNav{
    overflow: hidden;
    background-color: rgb(111, 111, 153);
}

.TopNav a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.TopNav a:hover{
    background-color: rgb(36, 36, 75);
    color: black;
} 

.home{
    background: url(imgs/menina01.jpg);
    height: 600px;
    margin: 0%;
}

section div .caixa{
    background-color: rgba(0, 0, 0, 0.61);
    margin-top: 0%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    width: 480px;
}

/*css do login*/

.login{
    margin-top: 60px;
}

#login{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.card{
    background: rgba(0, 0, 0, 0.60);
    padding: 40px;
    border-radius: 2px;
    width: 280px;
  
}

.card-header{
    padding-bottom: 50px;
    opacity: 0.8;
    color: #fff;
   
}

card-header::after{
    content: " ";
    width: 70px;
    height: 1px;
    background-color: #fff;
    display: block;
    margin-top: -17px;
    margin-left: -5px;
}
.card-content label{
    color: #fff;
    font-size: 12px;
    opacity: 0.8;
}

.usuario{
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.usuario input{
    margin-top: 10px;
    padding: 0 5px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #e1e1e1;
    outline: none;
    color: #fff;
}

.submit{
    width: 100%;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
    color: #e1e1e1;
    margin: 0 0;
}
.submit a{
    text-align: center;
    font-size: 12px;
    color: #fff;
    text-decoration: none;
}